<link href="css/application.css" rel="stylesheet" />
<div class="container-fluid bg bg-clouds inverse">
    <div class="container bg bg-white">
    <main role="main">
        <div class="row row--m">
            <div class="cell well well--m">
                <ol class="has-tile has-tile--articles">
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/bernie-mapili.jpg)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2016-03-24 16:30:00 UTC">March 24, 2016</time>
                                <h3 class="mtf tsl">Interview : Director</h3>
                                <p>In this ongoing series, the  blog introduces you some of the finest developers, designers, and support staff in the industry. You’ve already met the developers Nate, Tyler, and Dray; the designers Ayana, Drew, Nick, and John; and our project director, Jennifer. This week, meet ’s CFO, Bernie Mapili.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong> </span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/john-wilson.jpg)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2016-03-10 16:20:00 UTC">March 10, 2016</time>
                                <h3 class="mtf tsl">Meet : John Wilson</h3>
                                <p>In this ongoing series, the  blog introduces you some of the finest developers, designers, and support staff in the industry. You’ve already met the developers Nate, Tyler, and Dray; the designers Ayana, Drew, Nick; and our project director, Jennifer. This week, meet the final member of the design team: John‌ Wilson.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong>  </span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/try-ember-background.png)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2016-02-24 00:00:00 UTC">February 24, 2016</time>
                                <h3 class="mtf tsl">You Should Try Ember</h3>
                                <p>We&rsquo;re huge fans of Ember. The goals, the direction, the momentum, the community, and the team behind it are something that we can all . This isn&rsquo;t a new idea coming from a honeymoon phase, either. We&rsquo;ve been building, developing, testing, and maintaining Ember applications for around four years now and even have some SproutCore experience before that. When Code School approached us last summer to create Try Ember to refresh their Warming Up with Ember.js course. We were excited to help.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong></span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article">
                        <a class="tile-inner" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2016-02-17 22:48:00 UTC">February 17, 2016</time>
                                <h3 class="mtf tsl">Now Hiring: Technical Sales Representative</h3>
                                <p> is a leading web consultancy based in Orlando, FL, building digital products for the likes of Cisco, Google, GitHub, and Booz Allen Hamilton. We’re also responsible for starting Code School, one of the most popular online educational platforms. At , our goal is to transform ideas into successful products for our clients. We are looking for a self-managed sales representative who can help maintain a healthy pipeline of work.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong></span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/jennifer-borders.jpg)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2016-02-17 12:00:00 UTC">February 17, 2016</time>
                                <h3 class="mtf tsl">Meet : Jennifer Borders</h3>
                                <p>In this ongoing series, the  blog introduces you some of the finest developers, designers, and support staff in the industry. You’ve already met the developers Nate, Tyler, and Dray; as well as the designers Ayana, Drew, and Nick. This week, meet the glue that holds  together: our project director, Jennifer Borders.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong>  </span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/2016-02-distributed-web-pt-2.jpg)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2016-02-08 16:00:00 UTC">February 8, 2016</time>
                                <h3 class="mtf tsl">The Distributed Web, Part 2: The Automation of Custom Development</h3>
                                <p></p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong></span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/DribbbleConnections.gif)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2015-12-07 15:46:00 UTC">December 7, 2015</time>
                                <h3 class="mtf tsl">Getting the Most out of Dribbble</h3>
                                <p>Dribbble is a valuable tool that creatives can benefit from when used to its full potential. Despite this, the desire to acquire likes and followers can distract from the reason it was originally created: to be a place that provides inspiration, encourages community connections, and facilitates meaningful critique among creatives in a variety of fields. Here’s how to get the most out of your Dribbble experience.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong></span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article">
                        <a class="tile-inner" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2015-11-12 12:02:00 UTC">November 12, 2015</time>
                                <h3 class="mtf tsl">Loops + d3-timer</h3>
                                <p>Web animations in JavaScript (especially for things like canvas) typically employ requestAnimationFrame to create a loop&mdash;effectively, the place where your animation changes as time elapses. The aim is to (usually) only have one of these running at any given time, but that may prove difficult depending on how your components are organized.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong> </span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/drayLacy.jpg)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2015-09-28 16:49:00 UTC">September 28, 2015</time>
                                <h3 class="mtf tsl">Meet : Dray Lacy</h3>
                                <p>In this ongoing series, the  blog is showing what makes our team the best in the industry. From designers to developers to support staff, we want you to get to know our amazing team, what makes them tick and hear why they’re so passionate about their work and role at . You’ve already met Ayana Campbell, Nate Bibler, Drew Powers, Nick Walsh, and Tyler Hunt. This month’s team member spotlight is Developer Dray Lacy.</p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong>  </span> </div>
                        </a>
                    </li>
                    <li class="tile tile--article tile--article--cover">
                        <a class="tile-inner" style="background-image: url(/images/city.jpg)" ui-sref="blogitem">
                            <div aria-hidden="true" class="tile-shade"></div>
                            <article class="tile-content">
                                <time class="tile-time" datetime="2015-08-20 08:20:00 UTC">August 20, 2015</time>
                                <h3 class="mtf tsl">The Distributed Web, Part 1: You Don’t Need a Website</h3>
                                <p></p>
                            </article>
                            <div class="tile-more"> <span class="tile-anchor"> Visit <strong>Article</strong></span> </div>
                        </a>
                    </li>
                </ol>
            </div>
        </div>
    </main>
    </div>
</div>