<div class="container-fluid bg bg-clouds">
    <div class="container bg bg-white">
        <div class="section-silder group">
            <ul id="images" class="rs-slider no-margin">
                <li class="group active bg-white">
                    <div class="row slider-inner">
                        <div class="responsive-img">
                            <a href="mobile.php"><img src="/images/quality_management_system_team-resized-600.jpg" style="vertical-align: bottom;" width="500" alt="Image"/></a>
                        </div>
                        <div class="responsive-text">
                            <h2>Quality Systems</h2>
                            <div class="responsive-small-text">
                                <h4>Lorem Ipsum Lorem Ispum</h4>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="group bg-white">
                    <div class="row slider-inner">
                        <div class="responsive-text">
                            <h2>Works well on all Platforms!</h2>
                            <div class="responsive-small-text">
                                <h4>Its easy on eyes and responsive!</h4>
                            </div>
                        </div>
                        <div class="responsive-img">
                            <a href="mobile.php"><img src="img/platform-slider.png" style="vertical-align: bottom;" width="600" alt="Image"/></a>
                        </div>
                    </div>
                </li>
                <li class="group bg-white">
                    <div class="row slider-inner">
                        <div class="responsive-text">
                            <h2>Become a Management Systems Pro</h2>
                            <div class="responsive-small-text">
                                <h3>Its easy on eyes and responsive!</h3>
                            </div>
                        </div>
                        <div class="responsive-img">
                            <a href="#"><img src="/images/qualitydefn.jpg" style="vertical-align:bottom;" width="600" alt="Image"/></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <hr class="small-hr"/>

    </div>
</div>
<div class="container-fluid">
    <div class="row" style="background:#000;" id="video-wrap">
        <div class="container">
            <div class="center-align">
                <a href="javascript:void(0)" class="close"><i class="fa fa-remove"></i></a>
                <iframe class="" src="blank.html" id="iframe-vimeo"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-clouds">
    <div class="clearfix">
        <div class="container m-t bg-white">
            <h2 class="dark">Forthcoming Training Programs</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut enim aliquam accumsan vitae ut dui. Sed et massa ipsum.
            </p>
            <div class="row tiles">
                <div class="col-md-4">
                    <div class="bg-turquoise">
                        <a href="#meowfoto" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-filter tile-icon"></i>
                                <h2>ISO 9001-2015</h2>
                                <p>Two Days training program</p>
                                <p>March 2016 23 - 24</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-4.jpg">
                                <p><strong>Dr. Vikram Singh, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-emerland">
                        <a href="#meowsome" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-asterisk tile-icon"></i>
                                <h2>ISO 18091-2014</h2>
                                <p>Five Days program</p>
                                <p>April 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-2.jpg">
                                <p><strong>Dr. Kaushal Seth, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-peter-river">
                        <a href="#sahusoft" data-toggle="modal">
                            <div class="tile">
                                <i class=" fa fa-lightbulb-o tile-icon"></i>
                                <h2>ISO 13485-2016</h2>
                                <p>Five Days program</p>
                                <p>May 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-7.jpg">
                                <p><strong>Saurabh Mukherjee, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 no-left-margin">
                    <div class="bg-sun-flower">
                        <a href="#mlo" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-sitemap tile-icon"></i>
                                <h2>ISO/IEC DIS 27003</h2>
                                <p>Three days program</p>
                                <p>June 2016 21 - 23</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-4.jpg">
                                <p><strong>Dr. Vikram Singh, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-orange">
                        <a href="#taskize" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-tasks tile-icon"></i>
                                <h2>ISO/AWI 41001</h2>
                                <p>Five Days program</p>
                                <p>May 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-7.jpg">
                                <p><strong>Saurabh Mukherjee, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-alizarin">
                        <a href="#meowapps" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-group tile-icon"></i>
                                <h2>ISO/DIS 11000</h2>
                                <p>One Day program</p>
                                <p>June 2016 06</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-2.jpg">
                                <p><strong>Dr. Kaushal Seth, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a ui-sref="training" class="btn btn-primary pull-right">View All</a>
        </div>
    </div>
</div>


<script>
 $(function() {

  var vimeoUrl = 'http://player.vimeo.com/video/27299211?autoplay=1';

  $('.player').click(function(){

    $('#video-wrap').slideDown();
    if($(this).attr('href').substr(0,1) == '#' && $($(this).attr('href')).length) {
      var offset = 64;      
      $('#iframe-vimeo').attr('src',vimeoUrl);
      $('body,html').animate({'scrollTop':$($(this).attr('href')).position().top - offset},800);
      return false;

    }
  });

  $('#video-wrap .close').click(function(){
    $('#video-wrap').slideUp();
    $('#iframe-vimeo').attr('src','');
  });


  var $upper = $('#upper');

  $('#images').refineSlide({
      transition : 'fade',
      onInit : function () {
          var slider = this.slider,
             $triggers = $('.translist').find('> li > a');

          $triggers.parent().find('a[href="#_'+ this.slider.settings['transition'] +'"]').addClass('active');

          $triggers.on('click', function (e) {
             e.preventDefault();

              if (!$(this).find('.unsupported').length) {
                  $triggers.removeClass('active');
                  $(this).addClass('active');
                  slider.settings['transition'] = $(this).attr('href').replace('#_', '');
              }
          });

          function support(result, bobble) {
              var phrase = '';

              if (!result) {
                  phrase = ' not';
                  $upper.find('div.bobble-'+ bobble).addClass('unsupported');
                  $upper.find('div.bobble-js.bobble-css.unsupported').removeClass('bobble-css unsupported').text('JS');
              }
          }

          support(this.slider.cssTransforms3d, '3d');
          support(this.slider.cssTransitions, 'css');
      }
  });
});

</script>

<div id="meowfoto" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-header bg-turquoise">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3><i class="fa fa-filter tile-icon"></i>ISO 9001-2015</h3>
    </div>
    <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut enim aliquam accumsan vitae ut dui. Sed et massa ipsum. Maecenas consectetur, purus eu faucibus bibendum, risus lectus rhoncus mi, sit amet tristique lectus nisi nec lectus. Cras vel libero justo. In eget quam sed dui ornare posuere. Ut et interdum dui. Morbi congue leo vel ante facilisis id blandit odio tempus. Integer eleifend eleifend sollicitudin. </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut enim aliquam accumsan vitae ut dui. Sed et massa ipsum. Maecenas consectetur. </p>
        <a class="btn btn pull-right btn-success">Read More</a>
    </div>
</div>
