<div class="container-fluid bg-clouds">
    <div class="container bg bg-white">
        <div class="col-md-3">
              <ul class="sidebar-nav nav nav-pills nav-stacked">
                <li class="active toplevel"><a ui-sref="managementsystems({'catId':'systems'})">Management Systems</a></li>
                <li><a ui-sref="managementsystems({'catId':'quality'})">Quality</a></li>
                <li><a ui-sref="managementsystems({'catId':'environment'})">Environment</a></li>
                <li><a ui-sref="managementsystems({'catId':'infosec'})">Information Security</a></li>
                <li><a ui-sref="managementsystems({'catId':'energy'})">Energy</a></li>
                <li><a ui-sref="managementsystems({'catId':'antibribery'})">Anti-Bribery</a></li>
                <li><a ui-sref="managementsystems({'catId':'automotive'})">Automotive</a></li>
                <li><a ui-sref="managementsystems({'catId':'riskmgmt'})">Risk Management</a></li>
                <li><a ui-sref="managementsystems({'catId':'servmgmt'})">Service Management</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            <strong>{{details.title}}</strong>
            <br/><br/><br/><span ng-bind-html="$sce.trustAsHtml(details.details)"></span>
            <a ng-show="HasQuiz" class="btn btn-danger" ui-sref="{{quizlink}}">Claim Training Discounts</a>
            
        </div>
    </div>
</div>