<div class="container-fluid bg-clouds">
    <div class="clearfix">
        <div class="container m-t bg-white">
            <h2 class="dark">Training Calendar</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut enim aliquam accumsan vitae ut dui. Sed et massa ipsum.
            </p>
            <div class="row tiles">
                <div class="col-md-4">
                    <div class="bg-turquoise">
                        <a href="#meowfoto" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-filter tile-icon"></i>
                                <h2>ISO 9001-2015</h2>
                                <p>Two Days training program</p>
                                <p>March 2016 23 - 24</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-4.jpg">
                                <p><strong>Dr. Vikram Singh, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-emerland">
                        <a href="#meowsome" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-asterisk tile-icon"></i>
                                <h2>ISO 18091-2014</h2>
                                <p>Five Days program</p>
                                <p>April 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-2.jpg">
                                <p><strong>Dr. Kaushal Seth, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-peter-river">
                        <a href="#sahusoft" data-toggle="modal">
                            <div class="tile">
                                <i class=" fa fa-lightbulb-o tile-icon"></i>
                                <h2>ISO 13485-2016</h2>
                                <p>Five Days program</p>
                                <p>May 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-7.jpg">
                                <p><strong>Saurabh Mukherjee, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 no-left-margin">
                    <div class="bg-sun-flower">
                        <a href="#mlo" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-sitemap tile-icon"></i>
                                <h2>ISO/IEC DIS 27003</h2>
                                <p>Three days program</p>
                                <p>June 2016 21 - 23</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-4.jpg">
                                <p><strong>Dr. Vikram Singh, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-orange">
                        <a href="#taskize" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-tasks tile-icon"></i>
                                <h2>ISO/AWI 41001</h2>
                                <p>Five Days program</p>
                                <p>May 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-7.jpg">
                                <p><strong>Saurabh Mukherjee, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-alizarin">
                        <a href="#meowapps" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-group tile-icon"></i>
                                <h2>ISO/DIS 11000</h2>
                                <p>One Day program</p>
                                <p>June 2016 06</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-2.jpg">
                                <p><strong>Dr. Kaushal Seth, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-turquoise">
                        <a href="#meowfoto" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-filter tile-icon"></i>
                                <h2>ISO 9001-2015</h2>
                                <p>Two Days training program</p>
                                <p>March 2016 23 - 24</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-4.jpg">
                                <p><strong>Dr. Vikram Singh, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-emerland">
                        <a href="#meowsome" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-asterisk tile-icon"></i>
                                <h2>ISO 18091-2014</h2>
                                <p>Five Days program</p>
                                <p>April 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-2.jpg">
                                <p><strong>Dr. Kaushal Seth, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-peter-river">
                        <a href="#sahusoft" data-toggle="modal">
                            <div class="tile">
                                <i class=" fa fa-lightbulb-o tile-icon"></i>
                                <h2>ISO 13485-2016</h2>
                                <p>Five Days program</p>
                                <p>May 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-7.jpg">
                                <p><strong>Saurabh Mukherjee, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 no-left-margin">
                    <div class="bg-sun-flower">
                        <a href="#mlo" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-sitemap tile-icon"></i>
                                <h2>ISO/IEC DIS 27003</h2>
                                <p>Three days program</p>
                                <p>June 2016 21 - 23</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-4.jpg">
                                <p><strong>Dr. Vikram Singh, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-orange">
                        <a href="#taskize" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-tasks tile-icon"></i>
                                <h2>ISO/AWI 41001</h2>
                                <p>Five Days program</p>
                                <p>May 2016 12 - 16</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-7.jpg">
                                <p><strong>Saurabh Mukherjee, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-alizarin">
                        <a href="#meowapps" data-toggle="modal">
                            <div class="tile">
                                <i class="fa fa-group tile-icon"></i>
                                <h2>ISO/DIS 11000</h2>
                                <p>One Day program</p>
                                <p>June 2016 06</p>
                            </div>
                            <div class="details">
                                <h6 class="inverse text-center"><strong>Trainer</strong></h6>
                                <img class="img-circle img-responsive img-tutor" src="/img/profile-2.jpg">
                                <p><strong>Dr. Kaushal Seth, </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at tortor ut   enim aliquam accumsan vitae ut dui.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
